body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#game-container {
    margin-top: 20px;
}

#game-area {
    margin-top: 20px;
    width: 320px;
    height: 320px;
    background-color: #000;
    display: inline-block;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}
